   *{
    margin:0;
    padding:0;
    box-sizing: border-box;
   }

   body {
      font-family: Arial, sans-serif;
      background-color: honeydew; /* χρώμα φόντου */
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    #myForm {
      background: #fff;
      padding: 20px 30px;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    }
    label {
      font-weight: bold;
    }
    input {
      width: 100%;
      padding: 8px;
      margin: 5px 0 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      background-color: #1E90FF ;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0000ff;
    }
    .error {
      color: red;
      font-size: 14px;
    }